{% if page.app-id %}
<meta name="description" content="{{ page.description }}" />
<meta name="apple-itunes-app" content="app-id={{ page.app-id }}" />

<meta name="twitter:card" content="app">
<meta name="twitter:site" content="cadigatt">
<meta name="twitter:description" content="{{ page.description }}" />
<meta name="twitter:url" content="{{ page.url }}">
<meta name="twitter:app:id:iphone" content="{{ page.app-id }}">
{% if page.ipad-app-id %}
<meta name="twitter:app:id:ipad" content="{{ page.ipad-app-id }}">
{% endif %}

{% endif %}

<script async defer data-domain="cadigatt.com" src="https://plausible.io/js/plausible.js"></script>
